*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(36, 100%, 99%);
  font-family: "Inter", sans-serif;
}

.header {
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2.5rem;
  width: inherit;
  max-width: 1200px;
  margin: auto;
}
.header__wrapper__nav__un-list {
  display: flex;
  gap: 3.5rem;
}
.header__wrapper__nav__un-list li {
  list-style: none;
}
.header__wrapper__nav__un-list a {
  font-size: 1.5rem;
  color: hsl(240, 100%, 5%);
  transition: color 0.15s ease-in-out;
}
.header__wrapper__nav__un-list a:link,
.header__wrapper__nav__un-list a:visited {
  text-decoration: none;
}
.header__wrapper__nav__un-list a:active,
.header__wrapper__nav__un-list a:hover {
  color: hsl(5, 85%, 63%);
}

.container {
  width: 100%;
}
.container__wrapper {
  padding: 0 2.5rem;
  width: inherit;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5rem;
  padding-bottom: 5rem;
}
.container__wrapper__top-content {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
.container__wrapper__top-content--left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.container__wrapper__top-content--left img {
  width: 100%;
}
.container__wrapper__top-content--left_copy {
  display: flex;
  gap: 2.5rem;
}
.container__wrapper__top-content--left_copy-headline {
  font-size: 6rem;
  max-width: 425px;
}
.container__wrapper__top-content--left_copy-cta {
  max-width: 425px;
}
.container__wrapper__top-content--left_copy-cta p {
  line-height: 2.5rem;
  font-size: 2rem;
  margin-bottom: 71px;
}
.container__wrapper__top-content--left_copy-cta button {
  align-self: flex-start;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 400;
  letter-spacing: 5px;
  transition: background-color 0.15s ease-in-out;
}
.container__wrapper__top-content--left_copy-cta button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}
.container__wrapper__top-content--right {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem;
}
.container__wrapper__top-content--right-heading {
  font-size: 4.5rem;
  color: hsl(35, 77%, 62%);
}
.container__wrapper__top-content--right-copy {
  padding: 2.5rem 0;
  border-bottom: 1px hsl(233, 8%, 79%) solid;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container__wrapper__top-content--right-copy:last-child {
  border-bottom: none;
}
.container__wrapper__top-content--right-copy span {
  font-size: 2rem;
  color: hsl(36, 100%, 99%);
  font-weight: 700;
}
.container__wrapper__top-content--right-copy p {
  color: hsl(236, 13%, 42%);
  font-size: 1.5rem;
  line-height: 3rem;
}
.container__wrapper__bottom-content {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
}
.container__wrapper__bottom-content-items {
  display: flex;
}
.container__wrapper__bottom-content-items img {
  width: 25%;
  object-fit: cover;
}
.container__wrapper__bottom-content-item {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container__wrapper__bottom-content-item h1 {
  font-size: 3rem;
  font-weight: 800;
  color: hsl(233, 8%, 79%);
}
.container__wrapper__bottom-content-item span {
  font-size: 2rem;
  font-weight: 800;
}
.container__wrapper__bottom-content-item p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .container__wrapper__top-content {
    flex-wrap: wrap;
  }
  .container__wrapper__top-content--left img {
    width: 100%;
  }
  .container__wrapper__top-content--left_copy {
    justify-content: space-between;
  }
  .container__wrapper__top-content--left_copy-cta {
    max-width: 600px;
  }
  .container__wrapper__top-content--right {
    width: 100%;
  }
  .container__wrapper__bottom-content {
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
  }
  .container__wrapper__bottom-content-items {
    width: 100%;
  }
  .container__wrapper__bottom-content-items img {
    width: 25%;
  }
  .container__wrapper__bottom-content-item {
    justify-content: center;
  }
}
@media screen and (max-width: 918px) {
  .container__wrapper__top-content--left_copy {
    flex-wrap: wrap;
  }
  .container__wrapper__top-content--left_copy-headline {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .container__wrapper__top-content--left_copy-cta {
    max-width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
