// Primary colors
$primary-orange: hsl(35, 77%, 62%);
$primary-red: hsl(5, 85%, 63%);

// Neutral colors
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-greyish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

// Typography
$paragraph: 1.5rem;
$inter: "Inter", sans-serif;
$regular: 400;
$bold: 700;
$extra-bold: 800;

// Global reset
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  background-color: $off-white;
  font-family: $inter;
}

.header {
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2.5rem;
    width: inherit;
    max-width: 1200px;
    margin: auto;

    &__nav {
      &__un-list {
        display: flex;
        gap: 3.5rem;

        li {
          list-style: none;
        }

        a {
          font-size: $paragraph;
          color: $very-dark-blue;
          transition: color 0.15s ease-in-out;
        }

        a:link,
        a:visited {
          text-decoration: none;
        }

        a:active,
        a:hover {
          color: $primary-red;
        }
      }
    }
  }
}

.container {
  width: 100%;

  &__wrapper {
    padding: 0 2.5rem;
    width: inherit;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5rem;
    padding-bottom: 5rem;

    &__top-content {
      display: flex;
      justify-content: center;
      gap: 2.5rem;

      &--left {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        img {
          width: 100%;
        }

        &_copy {
          display: flex;
          gap: 2.5rem;

          &-headline {
            font-size: calc($paragraph * 4);
            max-width: 425px;
          }

          &-cta {
            max-width: 425px;

            p {
              line-height: 2.5rem;
              font-size: 2rem;
              margin-bottom: 71px;
            }

            button {
              align-self: flex-start;
              padding: 1.5rem 4rem;
              text-transform: uppercase;
              border: none;
              display: inline-block;
              background-color: $primary-red;
              color: $off-white;
              font-weight: $regular;
              letter-spacing: 5px;
              transition: background-color 0.15s ease-in-out;
            }

            button:hover {
              background-color: $very-dark-blue;
              cursor: pointer;
            }
          }
        }
      }

      &--right {
        background-color: $very-dark-blue;
        color: $off-white;
        display: flex;
        flex-direction: column;
        padding: 3rem 2.5rem;

        &-heading {
          font-size: calc($paragraph * 3);
          color: $primary-orange;
        }

        &-copy {
          padding: 2.5rem 0;
          border-bottom: 1px $grayish-blue solid;
          display: flex;
          flex-direction: column;
          gap: 2rem;

          &:last-child {
            border-bottom: none;
          }

          span {
            font-size: 2rem;
            color: $off-white;
            font-weight: $bold;
          }

          p {
            color: $dark-greyish-blue;
            font-size: $paragraph;
            line-height: 3rem;
          }
        }
      }
    }

    &__bottom-content {
      display: flex;
      max-width: 1200px;
      justify-content: space-between;

      &-items {
        display: flex;

        img {
          width: 25%;
          object-fit: cover;
        }
      }

      &-item {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h1 {
          font-size: calc($paragraph * 2);
          font-weight: $extra-bold;
          color: $grayish-blue;
        }

        span {
          font-size: 2rem;
          font-weight: $extra-bold;
        }

        p {
          font-size: $paragraph;
          line-height: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    &__wrapper {
      &__top-content {
        flex-wrap: wrap;

        &--left {
          img {
            width: 100%;
          }

          &_copy {
            justify-content: space-between;

            &-cta {
              max-width: 600px;
            }
          }
        }

        &--right {
          width: 100%;
        }
      }

      &__bottom-content {
        flex-wrap: wrap;
        gap: 5rem;
        width: 100%;

        &-items {
          width: 100%;

          img {
            width: 25%;
          }
        }

        &-item {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 918px) {
  .container {
    &__wrapper {
      &__top-content {
        &--left {
          &_copy {
            flex-wrap: wrap;

            &-headline {
              max-width: 100%;
              font-size: 5.5rem;
            }

            &-cta {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .container {
    &__wrapper {
      &__top-content {
        &--left {
          &_copy {
            &-headline {
              font-size: 4rem;
            }
            &-cta {
              p {
                font-size: 1.5rem;
                margin-bottom: 30px;
              }
              button {
                padding: 1rem 2rem;
              }
            }
          }
        }
      }
    }
  }
} // 600px - one
